body, h1, h2, h3, ul, li, p, dd, dt, dl{
  margin: 0px;
  padding: 0px;
}

img{
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

ul{
  list-style: none;
}

body{
  background-color: #faf6ed;
  color: #222;
  -webkit-font-smoothin: antialiased;
  display:grid;
  grid-template-columns:  120px minmax(300px, 800px) 2fr;
}

.menu{
  grid-column: 2 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #A9200E;
  border-radius: 5px;
}

.menu li a:hover{
  color: #222;
  transition-delay: .1s;
}

.menu ul{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a{
  display:block;
  padding: 10px;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-family: 'Cambria';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: .1em;
}

.grid-section{
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display:grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.titulo{
  font-family: Cambria;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 2rem;
  grid-column: 1 / 4; 
}

.titulo:after{
  content:'';
  display:block;
  width: 60px;
  height: 6px;
  background-color: rgb(97, 50, 50);
  text-align: center;
}

.sub-titulo{
  font-family: Cambria;
  font-size: 4rem;
  text-align:center;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}
.lista h2{
  font-family: Cambria;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1rem;
  color: #e54;
}

.lista h2::before{
  content: '';
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background-color: #A9200E;
}

.lista p{
  font-family: Cambria;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lista-setores{
  height: 370px;
  overflow: scroll;
  grid-column: 2;
}

.lista-setores li{
  cursor: pointer;
  width: 120px;
  height: 38px;
  padding: 2px; 
  background-color: #A9200E;
  margin: 15px;
  border-radius: 5px;
  color: #faf6ed;
  text-align: center;
  grid-column: 1;
}
.lista-setores p{
  padding: 10px;
}

.lista-setores li:hover{
  background-color: #e54;
  transition-delay: .1s;
  border-radius: 5px;
  color: #222;
}
.lista-setores::-webkit-scrollbar{
  width: 18px;
}

.lista-setores::-webkit-scrollbar-thumb{
  background-color: #A9200E;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.lista-setores::-webkit-scrollbar-track{
  background-color: #faf6ed;
}

.lista-conteudo{
  grid-column: 3;
}

.lista-conteudo section{
  margin-bottom: 3rem;
}

.lista-conteudo ul li{
  color: #222;
  text-decoration: none;
  font-family: Cambria;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: .1em;
}

.lista-conteudo li::before{
  content: '';
  display:inline-block;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  background-color: #222;
}

.aniv-lista{
  grid-column: 2 / 4;
}

.aniv-lista dt:hover{
  color: rgba(34, 34, 34, 0.822);
  transition-delay: .18s;
  cursor: pointer;
}

.aniv-lista dd{
  font-family: Cambria;
  font-weight: bold;
  color:rgba(34, 34, 34, 0.822);
}

.aniv-lista dt{
  font-family: Cambria;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #e54;
  font-size: 18px;
}

.aniv-lista dt::before{
  content:'';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #A9200E;
}
.aniv-lista dd{
  font-family: Helvetica,Arial;
  margin-bottom: .5rem;
  margin-left: 30px;
}

.endereco{
  grid-column: 2 / 5;
  margin-bottom: 2rem;
  background-color: #A9200E;
}

.endereco p{
  padding: 20px;
  font-family: Cambria;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 700px){
  body{
    grid-template-columns: 1fr;
  }
  .menu, .grid-section, .copy{
    grid-column: 1;
  }
  .grid-section{
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }
  .lista-conteudo{
    grid-column: 1;
  }
  .lista-aniv{
    grid-column: 1 / 3;
  }
  .grid-section h1{
    font-size: 3rem;
  }
  .endereco{
    margin-bottom: 0px;
  }
}

.js .js-tabcontent section {
  display: none;
}

.js-tabcontent section.Ativo{
  display: block !important;
  animation: show .5s forwards;
}

@keyframes show{
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0)
  }
  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

.js .js-accordion dd{
  display:none;
}

.js-accordion dt::after{
  content: '⬎';
  margin-left: 10px;
}

.js-accordion dt.ativo::after{
  content: '⬏';
  margin-left: 10px;
}

.js-accordion dd.ativo{
  display:block;
}

.lista-conteudo table{
    border:1px sólido #C0C0C0;
    border-collapse:colapso;
    padding:5px;
    
  }
.lista-conteudo th {
    border:1px sólido #C0C0C0;
    padding:5px;
    background:#A9200E;
    font-family: Cambria;
    color: #fff;
    border-radius: 3px;
  }
.lista-conteudo td {
    border:1px sólido #C0C0C0;
    padding:5px;
    font-family: Cambria;
}

@keyframes slidedown{
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 200px;
    opacity: 1;
  }
}

.calendario{
  position: absolute;
  float: left;
  margin-left: 600px;
  margin-top: 150px;
}

.titulo{
  grid-column: 2 / 4;;
}

.p-aniv{
  position: absolute;
  font-size: 5em;
}
